<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Randevu Sistemi</title>

	<!-- Global stylesheets -->
	<link href="~/admin/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="~/admin/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="~/admin/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<style>
		.field-validation-error {
			color: red
		}
	</style>
</head>
<body>

	<!-- Main navbar -->
	<div class="navbar navbar-dark navbar-static py-2">
		<div class="container-fluid">
			<div class="navbar-brand">
				<a asp-route="HomePage" class="d-inline-flex align-items-center">
					<img src="~/admin/assets/images/logo_icon.svg" alt="">
					<img src="~/admin/assets/images/diyeet-logo.png" class="d-none d-sm-inline-block ms-1" alt="">
				</a>
			</div>
			<div class="d-flex justify-content-end align-items-center ms-auto">
				<ul class="navbar-nav flex-row">
					<li class="nav-item">
						<a asp-route="Register" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-user-circle-plus"></i>
								<span class="d-none d-md-inline-block ms-2">Kayıt Ol</span>
							</div>
						</a>
					</li>
					<li class="nav-item">
						<a asp-route="Login" class="navbar-nav-link navbar-nav-link-icon rounded ms-1">
							<div class="d-flex align-items-center mx-md-1">
								<i class="ph-user-circle"></i>
								<span class="d-none d-md-inline-block ms-2">Giriş Yap</span>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /main navbar -->
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">
				<!-- Content area -->
				@RenderBody()

				<!-- /content area -->
				<!-- Footer -->
				@*<div class="navbar navbar-sm navbar-footer border-top">
					<div class="container-fluid">
						<span>&copy; 2022 <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328">Limitless Web App Kit</a></span>

						<ul class="nav">
							<li class="nav-item">
								<a href="https://kopyov.ticksy.com/" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-lifebuoy"></i>
										<span class="d-none d-md-inline-block ms-2">Support</span>
									</div>
								</a>
							</li>
							<li class="nav-item ms-md-1">
								<a href="https://demo.interface.club/limitless/demo/Documentation/index.html" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-file-text"></i>
										<span class="d-none d-md-inline-block ms-2">Docs</span>
									</div>
								</a>
							</li>
							<li class="nav-item ms-md-1">
								<a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link navbar-nav-link-icon text-primary bg-primary bg-opacity-10 fw-semibold rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-shopping-cart"></i>
										<span class="d-none d-md-inline-block ms-2">Purchase</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>*@
				<!-- /footer -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
	<!-- Core JS files -->
	<script src="~/admin/assets/js/jquery/jquery.min.js"></script>
	<script src="~/admin/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="~/admin/assets/js/vendor/forms/inputs/imask.min.js"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/admin/js/app.js"></script>
	<!-- /theme JS files -->

	<script>
		$(document).ready(function () {
			$('input').attr("autocomplete", "off");
		})
	</script>


	<script>
		//mask
		const maskPhoneElement = document.querySelector('.phone');
		if (maskPhoneElement) {
			const maskPhone = IMask(maskPhoneElement, {
				mask: '0(000)000-00-00'
			});
		}

		//mask
		const maskPhoneElement2 = document.querySelector('.store-phone');
		if (maskPhoneElement2) {
			const maskPhone = IMask(maskPhoneElement2, {
				mask: '0(000)000-00-00'
			});
		}
	</script>


</body>
</html>
