@model ProfileModel

<ul class="nav flex-row justify-content-end order-1 order-lg-2">
    <li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
        <a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
            <div class="status-indicator-container">
                <img src="~/admin/assets/images/demo/users/default.jpg" class="w-32px h-32px rounded-pill" alt="">
                <span class="status-indicator bg-success"></span>
            </div>
            <span class="d-none d-lg-inline-block mx-lg-2">@Model.FullName</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end">
            <a asp-controller="Account" asp-action="Profile" class="dropdown-item">
                <i class="ph-user-circle me-2"></i>
                Profilim
            </a>
            <a asp-controller="Store" asp-action="Edit" class="dropdown-item">
                <i class="ph-user-circle me-2"></i>
                İşletme Profilim
            </a>
            <div class="dropdown-divider"></div>
            <a asp-route="Logout" class="dropdown-item">
                <i class="ph-sign-out me-2"></i>
                Çıkış Yap
            </a>
        </div>
    </li>
</ul>