@model LoginModel

@{
    ViewData["Title"] = "Giriş";
}

<div class="content d-flex justify-content-center align-items-center">
	<form class="login-form" asp-route="Login">
		<div class="card mb-0">
			<div class="card-body">
				<div class="text-center mb-3">
					<div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
						<img src="~/admin/assets/images/logo_icon.svg" class="h-48px" alt="">
					</div>
					<h5 class="mb-0">Hesabınızla giriş yapın</h5>
				</div>
				<div class="mb-3">
					<label asp-for="UsernameOrEmail" class="form-label"></label>
					<div class="form-control-feedback form-control-feedback-start">
						<input asp-for="UsernameOrEmail" type="text" class="form-control" placeholder="mail@mail.com">
						<div class="form-control-feedback-icon">
							<i class="ph-user-circle text-muted"></i>
						</div>
						<span asp-validation-for="UsernameOrEmail"></span>
					</div>
				</div>
				<div class="mb-3">
					<label asp-for="Password" class="form-label"></label>
					<div class="form-control-feedback form-control-feedback-start">
						<input asp-for="Password" type="password" class="form-control" placeholder="•••••••••••">
						<div class="form-control-feedback-icon">
							<i class="ph-lock text-muted"></i>
						</div>
						<span asp-validation-for="Password"></span>
					</div>
				</div>
				<div class="d-flex align-items-center mb-3">
					<label class="form-check">
						<input asp-for="RememberMe" type="checkbox" class="form-check-input" checked>
						<span class="form-check-label">Bilgileri Hatırla</span>
					</label>
					@*<a asp-route="RecoverPassword" class="ms-auto">Şifremi Unuttum</a>*@
				</div>
				<div class="mb-3">
					<button type="submit" class="btn btn-primary w-100">Giriş Yap</button>
				</div>
				<div class="text-center text-muted content-divider mb-3">
					<span class="px-2">Henüz hesabınız yok mu?</span>
				</div>
				<div class="mb-3">
					<a asp-route="Register" class="btn btn-light w-100">Kayıt Ol</a>
				</div>
			</div>
		</div>
	</form>
</div>
